<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{goal.name}}
    </mat-card-title>
    <mat-card-subtitle>
      {{goal.category}}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{goal.picture}}" alt="">
  <mat-card-content>
    <div class="cost-info">
      <div class="progress-bar-and-cost">
        <div class="progress-bar">
          <div class="progress-row" [ngStyle]="{'width': progress}"></div>
          <span>{{ percent}} %</span>
        </div>
        {{goal.cost}}
      </div>
      <p id ="have-cost">
        <mat-label>Have now: </mat-label>
        {{goal.collect}}
      </p>
    </div>
  </mat-card-content>
</mat-card>
