.progress-row {
  background-color: green;
  text-align: center;
  height: 20px;
  overflow: visible;
}

.progress-bar {
  width: 95%;
  background-color: whitesmoke;
  border: black solid 1px;
  display: inline-block;
  margin-right: 1%;
  height: 20px;
  overflow: hidden;
}

.cost-info {
  width: 100%;
}

#have-cost {
  text-align: center;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
  width: 100%;
}
.progress-bar-and-cost{
  display: flex;
  align-items: center;
  padding-top: 5px;
}

mat-card-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;

}
img {
  width: 100%;
  margin: 0;
  height: 50%;
}
