.full-goal-wrapper {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  margin: 20px;
}
.goal-card {
  width: 50%;
}

app-goal-card {
  height: 600px;
}

mat-card {
  width: 35%;
}
mat-card-actions {
  display: flex;
  justify-content: space-around;
}
